#header {
    text-align: center;
    flex-basis: 100%;
}

#header nav a {
    margin: 0 2vw;
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 1vh 1vw;
    border-radius: 25px;
    background-color: brown;
}

#header nav a.active {
    background-color: blue;
}

#header nav {
    /* display: inline; */
    background-color: brown;
    margin: 1vh auto;
    border-radius: 25px;
    max-width: 512px;
}

#header nav li {
    list-style-type: none;
    display: inline;
}